name: docker-build

on:
    push:
        branches:
            - main

jobs:
    typescript:
        runs-on: ubuntu-latest
        steps:
            - name: Setup yarn and install dependencies
              uses: netfloex/actions/yarn@master

            - name: Run tests
              run: yarn test
            - name: Test ESLint
              run: yarn lint

    docker:
        runs-on: ubuntu-latest
        needs: typescript
        steps:
            - name: Build and push to docker hub
              uses: netfloex/actions/docker@master
              with:
                  username: netfloex
                  token: ${{ secrets.DOCKERHUB_TOKEN }}
                  tags: netfloex/TEMPLATE:latest
